* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.actions {
    margin: 16px 0 0 16px;
    padding: 8px;
    
    position: absolute;
    display: flex;
    flex-direction: column;
    
    border: 1px solid;
    border-radius: 6px;

    background: #1F1F1F;
}

button, input {
    margin: 6px 4px;
}

.client {
    margin: 6px 4px;
    border-radius: 4px;
    padding: 4px;
    border: none;
    text-align: center;
}

input[type=file] {
    color: #fff;
}

input:focus {
    outline: none;
}

button, input[type=file]::file-selector-button {
    border: 1px solid #424242;
    border-radius: 4px;
    
    padding: 4px;
    background: #424242;
    color: #fff;
    
    transition: 0.2s;
    cursor: pointer;
}

button:hover, input[type=file]::file-selector-button:hover {
    background: #696969;
}

#loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;

    display: none;
    width: 60px;
    height: 60px;
    margin: 20% 0 0 50%;

    animation: spin 2s linear infinite;
    position: absolute;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
}